<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Szótanuló kártya</title>
</head>

<body>
    <header id="language">
        <h1>
            Nyelv
        </h1>
    </header>
    <p class=txTheme>Téma</p>

    <div class="navBarContainer">

        <ul id="languageNavBar">
            <p>Nyelvek</p>
            <li>Nyelv1</li>
            <li>Nyelv2</li>
            <li>Szerkesztés</li>
        </ul>
        <ul id="userNavBar">
            <p>User</p>
            <li>Adatok</li>
            <li>Kijelentkezés</li>
        </ul>

    </div>

    <div class="cardContainer">
        <div class="cardRow">
            <div class="cardColumn">
                <img src="images/add-image-icon-png-15.jpg" class=card>
                <input type="text" name="fname" class=meaning>
            </div>
            <div class="cardColumn">
                <img src="images/add-image-icon-png-15.jpg" class=card>
                <input type="text" name="fname" class=meaning>
            </div>
            <div class="cardColumn">
                <img src="images/add-image-icon-png-15.jpg" class=card>
                <input type="text" name="fname" class=meaning>
            </div>
            <div class="cardColumn">
                <img src="images/add-image-icon-png-15.jpg" class=card>
                <input type="text" name="fname" class=meaning>
            </div>      
        </div>
    </div>



</body>

</html>