<!DOCTYPE html>

<head>
    <title>Szótanuló kártya</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
        <header>
                <h1 id="registrationHeader">
                    Regisztráció
                </h1>
            </header>
            
    <form id="registercontainer">
        <div id="registerfields">
            <h3> Keresztnév</h3> <input type="text" name="firstname" />
            <h3> Vezetéknév</h3><input type="text" name="lastname" />
            <h3> Email cím</h3><input type="text" name="email" />
            <h3> Jelszó</h3><input type="password" name="password1" />
            <h3> Jelszó ismét</h3><input type="password" name="password2" />

        </div>
        <div id=registerBtnContainer>
            <p id="btnRegOnReg">Regisztráció</p>
            <p id="btnBackOnReg">Vissza</p>
        </div>
    </form>
</body>

</html>