<!DOCTYPE html>

<head>
    <title>Szótanuló kártya</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    

    <div class="themeContainer">
            <img src="icons8_undo_64px.png" class="backArrow">
        <div class=themeBtnContainer>
            <button class="btn">Téma1</button>
            <img src="images/icons8_delete_50px.png" class="themeBtn" class=themeDelBtn>
            <img src="images/icons8_development_skill_50px.png" class="themeBtn" class="themeDevBtn">
        </div>
        <img src="images/icons8_plus_50px.png"  class="plusBtn">
     
    </div>

    <div class="navBarContainer">

        <ul id="languageNavBar">
            <p>Nyelvek</p>
            <li>Nyelv1</li>
            <li>Nyelv2</li>
            <li>Szerkesztés</li>
        </ul>
        <ul id="userNavBar">
            <p>User</p>
            <li>Adatok</li>
            <li>Kijelentkezés</li>
        </ul>

    </div>



</body>



</html>