<!DOCTYPE html>

<head>
    <title>Szótanuló kártya</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="validationcontainer">
        <h3>Kérem adja meg az Emailben kapott aktivációs kódot</h3>
        <input type="text" name="validation"  id="activationField"/>
        <img src="images/icons8_right_25px.png" id="rightArrow">
    </div>
</body>

</html>

